<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
    
    <!-- Override library's minSdkVersion if necessary -->
    <uses-sdk tools:overrideLibrary="com.fintasys.emoji_picker_flutter"/>
    
    <!-- Permission required for development tools like hot reload -->
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:name="android.app.Application"
        android:label="chata_pp"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <!-- Add any other activities, services, etc. here -->

    </application>
</manifest>
